/* FOOTER */

.footer {
  color: var(--light-text);
  padding: 2rem 0;
  margin-top: auto;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  margin: 0;
  opacity: 0.8;
}
