/* PROJECTS GALLERY */

.projects-gallery {
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 2rem 4rem 2rem;
  /* background-color: rgb(249, 209, 191); */
}

.projects-container h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
  max-width: 1200px;
}

.projects-gallery p {
  margin-bottom: 2rem;
  opacity: 0.8;
  text-align: start;
}

.gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3rem;
  max-width: 1200px;
  width: 100%;
}

.card {
  padding: 1.5rem;
  border: 2px solid var(--card-border);
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--alternate-background);
  height: 100%;
}

.card::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid var(--card-border);
  z-index: -1;
}

.card img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  margin-bottom: 1rem;
  filter: blur(15px);
  transition:
    filter 0.3s ease,
    transform 0.3s ease;
}

.card:hover img {
  filter: blur(0px);
  transform: scale(1.03);
}

.image-placeholder {
  width: 100%;
  height: 150px;
  background-color: var(--light-bg);
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px dashed var(--card-border);
}

.image-placeholder span {
  color: var(--dark-text);
  opacity: 0.6;
  font-size: 0.875rem;
}

.card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  color: var(--dark-text);
}

.card p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  color: var(--dark-text);
  opacity: 0.8;
  flex-grow: 1;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: auto;
}

.tag {
  background-color: var(--accent);
  color: var(--light-text);
  padding: 0.25rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  font-weight: 500;
}

/* responsive */
@media (max-width: 768px) {
  .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    max-width: 400px;
  }

  .projects-gallery {
    padding: 1rem;
  }
}
